<ion-content>

  <ion-card *ngIf="buildings">
    <ion-list>
      <ion-list-header>
        <ion-label>{{"F_Buildings" | translate}}</ion-label>
      </ion-list-header>
      <ion-item class="ion-activatable" *ngFor="let building of buildings" (click)="onClick(building.id)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label class="label-link">{{building.streetname + " " + building.buildingnumber}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!buildings">
      <ion-card-content>
          {{"F_No_Buildings_Here" | translate}}
        </ion-card-content>
  </ion-card>
</ion-content>