<ion-content>
    <ion-card>
        <ion-list>
            <ion-list-header>
                <ion-label class="label-link">{{building.streetname + " " + building.buildingnumber}}</ion-label>
            </ion-list-header>
            <ion-item class="ion-activatable" *ngFor="let floor of building.floors"
                (click)="onClick(building.id,floor.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label class="label-link">
                    {{floor.floornumber === 0 ? ("F_Ground_Floor" | translate) : (floor.floornumber | ordinalNumberSuffix) + " " + ("F_Floor" | translate)}}
                </ion-label>
                <ion-label *ngIf="{count : getAmountFreeClassrooms(floor)} as freeRooms"
                    [class.free]="freeRooms.count > 0" [class.occupied]="freeRooms.count == 0">
                    {{freeRooms.count === 0 ? ("F_Nothing_Free" | translate) :  freeRooms.count + " " + ("F_Free" | translate) }}
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>