<ion-content>
    <ion-card *ngIf="building">
        <ion-list>
            <ion-list-header>
                <ion-label class="label-link">{{building.streetname + " " + building.buildingnumber}}</ion-label>
            </ion-list-header>
            <ion-item class="ion-activatable" *ngFor="let floor of building.floors"
                (click)="onClick(building.id,floor.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label class="label-link">
                    {{floor.floornumber === 0 ? ("F_Ground_Floor" | translate) : (floor.floornumber | ordinalNumberSuffix) + " " + ("F_Floor" | translate)}}
                </ion-label>
                <ion-label [ngSwitch]="getAmountFreeClassrooms(floor)">
                    <p *ngSwitchCase="0" class="occupied"> {{"F_Nothing_Free" | translate}}</p>
                    <p *ngSwitchCase="-1">  {{"F_NoClassrooms" | translate}} </p>
                    <p *ngSwitchDefault class="free"> {{freeRooms.count + " " + ("F_Free" | translate)}} </p>
                </ion-label>

            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card *ngIf="!building">
        <ion-card-content>
            {{"F_No_Floors_Here" | translate}}
        </ion-card-content>
    </ion-card>
</ion-content>