<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-card *ngIf="floorService.floor && floorService.floor.classrooms && floorService.floor.classrooms.length > 0">
    <ion-list>
      <ion-list-header>
        <ion-label class="label-link">
          {{floorService.floor.floornumber === 0 ? ("F_Ground_Floor" | translate) : (floorService.floor.floornumber | ordinalNumberSuffix) + " " + ("F_Floor_Of" | translate) }}
          {{buildingService.building.streetname + " " + buildingService.building.buildingnumber}}
        </ion-label>
      </ion-list-header>
      <ion-item class="ion-activatable" *ngFor="let classroom of floorService.floor.classrooms"
        (click)="onClick(classroom.classcode)" [ngSwitch]="classroom.free">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label class="label-link">{{classroom.classcode}}</ion-label>
        <ion-label class="free" *ngSwitchCase="true" >
          {{"F_Free" | translate}}
        </ion-label>
        <ion-label class="occupied" *ngSwitchCase="false">
          {{"F_Nothing_Free" | translate}}
        </ion-label>
        <ion-label *ngSwitchDefault>
          Unknown
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="!floorService.floor || !floorService.floor.classrooms || floorService.floor.classrooms.length == 0">
      <ion-card-content>
          {{"F_No_Classrooms_Here" | translate}}
      </ion-card-content>
  </ion-card>
</ion-content>