<ion-header>
  <ion-toolbar>
    <ion-title>
        <app-back-button></app-back-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img [src]="appService.activeImage"></ion-img>
      <ion-card-header>
        <ion-card-title>{{"F_Room_Avaliability" | translate}}</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
    <ion-card-header>
    <p>{{"F_Click_On_Buildings" | translate}}</p>
  </ion-card-header>
  </ion-card>
  <ion-card>
    <app-floor-map [floorId]="floorUuid"></app-floor-map>
  </ion-card>
</ion-content>
