.dark-theme {
    // Update some global variabes
    --ion-background-color: #2B2A2F;
    --ion-item-background: #35343b;
    --ion-overlay-background-color: #2B2A2F;
    --ion-color-step-850: #928f8f;
    --ion-toolbar-color: #928f8f;
    --ion-color: #928f8f;
    --ion-text-color: #928f8f;
    --ion-color-step-50: rgb(97, 97, 99);
}
//     div app-tabs {
//         background-color: #2B2A2F;

//         ion-tabs {
//             background-color: #2B2A2F
//         }
//     }
//     ion-content {
//         background-color: #2B2A2F;
//         color: white;
//     }
//     .tabs .tabbar .header .toolbar .toolbar-background {
//         background-color: #2B2A2F;
//         border-color: black;
//     };
//     .tabs .tab-button-icon .tab-button-text .toolbar-title {
//         color:white;
//     };
//     .tab .tab-button[aria-selected=true] .tab-button-text {
//         color: blue;
//     }
//     ion-item, button.item {
//         background-color: #2B2A2F;
//         color: white;
//     };