<ion-header>
        <ion-toolbar>
          <ion-title>
            <app-back-button></app-back-button>
      
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
<ion-content>
    <ion-list>
        <ion-list-header>
            {{"F_Classroom" | translate}}
        </ion-list-header>
        <ion-item>
            <ion-label>
                {{classroom.id}}
            </ion-label>
        </ion-item>
        <ion-item>
                <ion-label>
                    {{(classroom.free ? "F_Classroom_Free" : "F_Classroom_Not_Free") | translate}}
                </ion-label>
            </ion-item>
    </ion-list>
</ion-content>
